.edit-log-container {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  border-radius: 50px;

  width: 70%;
  padding: 20px;
  text-align: center;
}

.edit-log-form {
  padding: 20px;
  border: 1px solid green;
  width: 50%;
  border-radius: 50px;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

#input-edit-date {
  border: 0;
  outline: 0;
  border-bottom: 2px solid black;

  margin: 0 auto;
  float: none;
  text-align: center;
  width: 55%;
}

#input-edit-duration {
  border: 0;
  outline: 0;
  border-bottom: 2px solid black;

  margin: 0 auto;
  float: none;
  text-align: center;
  width: 52%;
}
