table,
tr,
th,
td {
  text-align: center;
  width: 10%;
  border: 1px solid black;
}

.student-archive {
  text-align: center;
  padding: 20px;
  width: 50%;
  border-radius: 50px;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.teacher-archive {

  
}
