button {
  margin: 10px;
  padding: 10px;
}

li {
  list-style-type: none;
}

.log-details-container {
  padding: 20px;
  width: 50%;
  border-radius: 50px;
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px; 
}
