.practice-log {
  margin: 20px 1px;
  padding: 20px;
  border: 1px solid black;
  width: 30%;
}

.practice-log-container {
  margin: 20px 1px;
  padding: 20px;
  border: 1px solid black;
  width: 100%;
  border-radius: 50px;
}

#input {
  border: 0;
  outline: 0;
  border-bottom: 2px solid darkblue;
}

#input-date {
  border: 0;
  outline: 0;
  border-bottom: 2px solid darkblue;
  width: 20%;
}

#input-duration {
  border: 0;
  outline: 0;
  border-bottom: 2px solid darkblue;
  width: 50%;
}
