.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px;
  margin: 0 0 30px;
  /* background-color: #0081AB; */
  background-color: #ab0039;
  overflow: hidden;
  border: 4px ridge rgb(189, 182, 98);
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 30px;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 10px;
  margin: 0;
  text-align: center;
  font-family: chalkboard;
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  /* background-color: #0081AB; */
  background-color: #ab0039; 
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 16px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  font-family: chalkboard;
  /* background-color: #02A4D3; */
  background-color: #d61e1e;
  color: white;
  padding: 30px 15px;
  font-size: 19px;
  border: 2px outset rgb(189, 182, 98);

}
